{% extends "base.html" %}

{% block title %}Список лікарів{% endblock %}

{% block content %}
    <h1>Список лікарів</h1>

    {% if doctors %}
        <table>
            <thead>
            <tr>
                <th>ПІБ</th>
                <th>Спеціалізація</th>
                <th>Стаж (років)</th>
            </tr>
            </thead>
            <tbody>
            {% for doctor in doctors %}
                <tr>
                    <td>{{ doctor.full_name }}</td>
                    <td>{{ doctor.specialization }}</td>
                    <td>{{ doctor.experience_years }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Лікарів поки що немає.</p>
    {% endif %}
{% endblock %}

