{% extends "base.html" %}

{% block title %}Список лікарів{% endblock %}

{% block content %}
    <h1>Список лікарів</h1>
    {% if can_manage_doctors %}
        <p><a href="{% url 'doctors:doctor_add' %}">+ Додати нового лікаря</a></p>
    {% endif %}

    {% if doctors %}
        <table>
            <thead>
            <tr>
                <th>ПІБ</th>
                <th>Спеціалізація</th>
                <th>Стаж (років)</th>
                {% if can_manage_doctors %}
                    <th>Дії</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for doctor in doctors %}
                <tr>
                    <td>{{ doctor.full_name }}</td>
                    <td>{{ doctor.specialization }}</td>
                    <td>{{ doctor.experience_years }}</td>
                    {% if can_manage_doctors %}
                        <td><a href="{% url 'doctors:doctor_edit' doctor.pk %}">Редагувати</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Лікарів поки що немає.</p>
    {% endif %}
{% endblock %}

